* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Delicious Handrawn', cursive;
	font-weight: 400;

}

body {}

.container {

	height: 50px;
	background: linear-gradient(to bottom, #66ffcc 0%, #6666ff 100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

#search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-direction: row;
	width: 500px;
}

input {
	display: block;
	width: 300px;
	height: 30px;
	font-size: 24px;
}

button {
	display: block;

	height: 30px;
	font-size: 24px;
}

.load-more {
	display: none;
}